@mixin searchFont{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: azure;
}
@mixin ButtonFont{
    font-family: "Rubik", sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: azure;
}
@mixin DescFont{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(128, 128, 128);
}
body{
    width: 99vw;
    height: 5150px;
    margin: 0;
    background: black url(img/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
::-webkit-scrollbar {
    background: rgb(52, 53, 112) url(img/bg.png);
}
::-webkit-scrollbar-thumb {
      background-color: rgb(81, 105, 150);
      border-radius: 20px;
}
::-webkit-scrollbar-thumb:active{
    background-color: rgb(27, 39, 63);
}
.header {
    width: 64vw;
    height: 86px;
    font-family: "Rubik", sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: azure;
    .header__input{
        background-color: rgba(0, 0, 0, 0);
        border: 0px azure solid;
        height: 20px;
        width: 267px;
        text-align: left;
        margin-left: 10px;
        @include searchFont();
    }
    .header__input::placeholder{
        color: azure;
        @include searchFont();
    }
    .header__input:hover{
        border: 0;
    }
}
.header_wraper{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.basket{
    margin: 0;
    padding: 0;
    height: 44px;
}
.header__search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
    display: flex;
    border: 3px azure solid;
    margin-right: 20px; 
    color: azure;
    border-radius: 40px;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
    width: 307px;
    padding-left: 10px;
}
.search:hover{
    background-color: rgba(0, 0, 0, 0.33);
    border: 3px antiquewhite solid;
}
.cards{
    display: flex;
    justify-content: space-between;
    width: 64vw;
}
.cards_wraper{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 64vw;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 618px;
    background-color: rgba(5, 5, 5, 0.3);
    h2{
        font-family: "Rubik", sans-serif;
        font-size: 36px;
        font-weight: 400;
        color: azure;
    }
    backdrop-filter: blur(15px);
    margin-bottom: 84px;
    border-radius: 10px;
}
.card__image{
    max-width: 368px;
    height: auto;
    width: 80%;
}
.card__name{
    margin-left: 50.5px;
}
.card__price-text{
    margin-left: 25px;
}
.card__price{
    color: aqua;
    font-weight: 500;
    margin-left: 15px;
}
.card__description{
    margin-left: 25px;
    @include DescFont();
}
.card__buyButton{
    height: 67px;
    width: 159px;
    align-self: flex-start;
    margin-left: 15%;
    @include ButtonFont();
    background-color: rgba(0, 0, 0, 0);
    border: 0;  
    box-sizing: content-box;
    border-bottom: 0px azure solid;
}
.notAv{
    text-decoration: line-through;
}
.notAvImg{
    max-width: 368px;
    max-height: 220px;
    height: auto;
    width: 80%;
}
.card__buyButton:hover{
    border-bottom-width: 1px;
    transition-property: border-bottom-width;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
.bigCard{
    width: 1034px;
    height: 518px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .card__image{
        margin-left: 50.5px;
        width: 460px;
        height: 275px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .card__name{
        margin-left: 25px;
        margin-top: 75px;
    }
}   
@media (max-width: 900px) {   
    .search{
        display: none;
    }
}